<div class="container">
    <div class="top-text">
      <h1>welcome to <i class="fas fa-book"></i><strong>Bookers</strong> !!</h1>
      <p>In <i class="fas fa-book"></i><strong>Bookers</strong>,</P>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
    </div>
    <div class="container text-center">
      <div class="mb-3">
      <%= link_to 'Log in', new_user_session_path, class: 'btn btn-info w-75' %>
      </div>
      <div class="mb-5">
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success w-75' %>
      </div>
      </div>
    </div>
  </div>