<h2>User info</h2>
<div class="user-info-image">
  <%= attachment_image_tag book.user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg"%>
</div>
<table class="table">
  <tr>
    <th>name</th><th><%= book.user.name %></th>
  </tr>
  <tr>
    <th>introduction</th> <th><%= book.user.introduction %> </th>
  </tr>
</table>
<%= link_to edit_user_path(book.user) do %>
  <button type="button" class="btn btn-outline-secondary btn-block "><i class="fas fa-user-cog"></i></button>
<% end %>