<div class="container">
    <h1>welcome to <i class="fas fa-book"></i>Bookers !!</h1>
    <p>In <i class="fas fa-book"></i>Bookers,<br>
  

  you can share and exchange your opinions , inpressions , and emotions<br>

  about various books!</p>
  <div class="mb-3">
    <a class="btn  btn-info w-50" href="users/sign_in" role="button">Log in</a>
  </div>
    <a class="btn  btn-success w-50" href="users/sign_up" role="button">Sign Up</a>
  </div>

</div>
