<div class="container">
    <div class="container text-left">
      <h1>welcome to <i class="fas fa-book"></i>Bookers !!</h1>
    </div>
    <div class="container text-left">
        <p>In <i class="fas fa-book"></i>Bookers,<br>
      you can share and exchange your opinions , inpressions , and emotions<br>
      about various books!</p>
    </div>
    <div class="container text-center">
      <div class="mb-3">
        <a class="btn  btn-info w-75" href="users/sign_in" role="button">Log in</a>
      </div>
      <div class="mb-5">
        <a class="btn  btn-success w-75" href="users/sign_up" role="button">Sign Up</a>
      </div>
      </div>
    </div>
  </div>
